* {
    margin: 0;
    padding: 0;
}
.header {
  position: fixed;
  width: 100%;
  background-color: #45818E;
  height: 60px;
  z-index: 7;
}
.header > .container {
  position: relative;
  width: 100%;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  z-index: 7;
}
.header_body {
  position: relative;
  display: flex;
  justify-content: center;
}
.header_list {
  display: flex;
  padding: 10px 0 0 0;
  align-items: center;
}
.header_list li {
  list-style: none;
  width: 180px;
  margin: 0 0 0 10px;
  text-align: center;
}
.header_list li:hover {
  font-weight: bold;
}
.header_list a {
  text-decoration: none;
  display: inline-block;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  color: #FFFFFF;
}
a {
  text-decoration: underline;
  cursor: pointer;
}
.email, .tel {
  color: #45818E;
}
.sokol_web {
  color: #ffffff;
}
ul {
  padding: 0;
}
.header_burger {
  display: none;
}
.home {
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: flex-start;
}
.home_img {
  width: 60%;
  height: 600px;
  background-image: url(home.jpg);
  background-size: cover;
  background-position: center right;
}
.title {
  width: 40%;
  height: 600px;
}
.title > .container {
  padding: 160px 30px 0 60px;
}
.title_body {
  text-align: left;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  color: #45818E;
  font-weight: 400;
}
.title_assam {
  font-size: 2.4em;
  font-weight: 400;
  padding: 20px 0 5px 0;
}
.title_date {
  font-size: 2em;
  padding: 5px 0;
}
.title_city {
  font-size: 1.5em;
  padding: 5px 0;
}
.div_1 {
  width: 100%;
  height: auto;
  background-color: #7ca6af;
}
.info_1 {
  width: 60%;
  height: auto;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  font-weight: 200;
  padding: 40px 30px;
  text-align: justify;
}
.text_1 {
  font-size: 1.3em;
}
.text_2 {
  font-size: 1.5em;
  padding: 5px 0;
}
.div_2 {
  width: 100%;
  min-height: calc(60vh - 60px);
}
.info_2 {
  width: 90%;
  height: auto;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  color: #000000;
  font-weight: 200;
  padding: 40px 30px;
  text-align: justify;
}
.text_3 {
  font-size: 1.5em;
  padding: 5px 0;
}
.text_4 {
  font-size: 1.3em;
  padding: 0 20px;
}
.text_5 {
  font-size: 1.8em;
  padding: 20px 0 0 0;
}
.text_6 {
  font-size: 1.8em;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: #45818E;
}
.footer > .container {
  width: 30%;
  color: #ffffff;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  padding: 15px 0 0 0;
  text-align: center;
}
.org {
  width: 100%;
  min-height: calc(100vh - 60px);
}
.org > .container {
  width: 70%;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  padding: 80px 0 50px 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.heading {
  font-size: 2em;
  padding: 20px 0 20px 0;
}
.column_1 {
  width: 40%;
}
.column_2 {
  width: 60%;
}
.name {
  font-weight: 300;
  padding: 5px 0 5px 20px;
}
.progr {
  width: 100%;
  min-height: calc(100vh - 60px);
}
.progr > .container {
  width: 70%;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  padding: 80px 0 50px 0;
}
table {
  width: 100%;
  color: #ffffff;
  border: 5px solid #45818E;
  border-bottom: 0px solid #45818E;
  border-spacing: 0;
  margin: 20px 0;
}
tr {
  border: 0;
  margin: 0;
  padding: 0;
}
td {
  border: 0px solid #45818E;
  padding: 15px;
}
th {
  border: 0px solid #45818E;
  padding: 15px;
  font-weight: normal;
}
.column_date {
  width: 30%;
  text-align: left;
  font-size: 1.5em;
  font-weight: 500;
  background-color: #45818E;
  border-bottom: 5px solid #45818E;
  border-right: 5px solid #45818E;
}
.column_time {
  width: 15%;
  text-align: justify;
  font-size: 1.3em;
  font-weight: 400;
  background-color: #7ca6af;
  border-bottom: 5px solid #45818E;
}
.column_info {
  width: 55%;
  text-align: left;
  font-size: 1.3em;
  font-weight: 400;
  color: #45818E;
  border-bottom: 5px solid #45818E;
}
.cont {
  width: 100%;
  min-height: calc(100vh - 60px);
}
.cont > .container {
  width: 70%;
  margin: 0 auto;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  padding: 80px 0 50px 0;
}
.contact {
  font-weight: 300;
  font-size: 1.3em;
  padding: 10px 0 10px 20px;
}
@media (max-width: 2560px) {
  .title > .container {
    padding: 200px 30px 0 80px;
  }
}
@media (max-width: 1440px) {
  .title > .container {
    padding: 140px 30px 0 60px;
  }
  .org > .container {
    width: 90%;
  }
  .column_1 {
    width: 50%;
  }
  .column_2 {
    width: 50%;
  }
  .title_assam {
    font-size: 2em;
  }
  .title_date {
    font-size: 1.8em;
  }
  .title_city {
    font-size: 1.5em;
  }
}
@media (max-width: 1024px) {
  .title_assam {
    font-size: 1.6em;
  }
  .title_date {
    font-size: 1.5em;
  }
  .title_city {
    font-size: 1.3em;
  }
  .progr > .container {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 7;
  }
  .header_burger.active:before {
    transform:rotate(45deg);
    top: 9px;
  }
  .header_burger.active:after {
    transform:rotate(-45deg);
    bottom: 9px;
  }
  .header_burger.active > span {
    transform: scale(0);
  }
  .header_burger:before, .header_burger:after {
    content: '';
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header_burger:before {
    top: 0;
    transition: all 0.5s ease 0s;
  }
  .header_burger:after {
    bottom: 0;
    transition: all 0.5s ease 0s;
  }
  .header_burger > span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #45818E;
    transition: all 0.5s ease 0s;
  }
  .header_menu.active {
    top: 0;
    transition: all 0.5s ease 0s;
  }
  .header_body {
    position: relative;
    display: flex;
    justify-content: none;
    align-items: baseline;
    padding: 15px;
  }
  .header_list {
    padding: 60px 0 0 0;
    flex-direction: column;
  }
  .header_list li {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 5px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .header_list li:hover {
    border-bottom: none;
  }
  .home {
    height: 400px;
  }
  .home_img {
    height: 400px;
  }
  .title > .container {
    padding: 100px 30px 0 30px;
  }
  .title_assam {
    font-size: 1.1em;
  }
  .title_date {
    font-size: 1em;
  }
  .title_city {
    font-size: 1em;
  }
  .info_1 {
    width: 80%;
  }
  .text_1 {
    font-size: 1.1em;
  }
  .text_2 {
    font-size: 1.3em;
  }
  .text_3 {
    font-size: 1.3em;
  }
  .text_4 {
    font-size: 1.1em;
  }
  .text_5 {
    font-size: 1.5em;
  }
  .text_6 {
    font-size: 1.5em;
  }
  .heading {
    font-size: 1.5em;
    padding: 0 0 20px 20px;
  }
  .column_date {
    font-size: 1.2em;
    width: 30%;
  }
  .column_time {
    font-size: 1em;
    width: 20%;
  }
  .column_info {
    font-size: 1em;
    width: 50%;
  }
  td {
    padding: 10px;
  }
  th {
    padding: 10px;
  }
}
@media (max-width: 426px) {
  .home {
    width: 100%;
    height: auto;
    position: static;
    display: block;
    justify-content: center;
  }
  .home_img {
    width: 100%;
    height: 200px;
    background-image: url(home.jpg);
    background-size: cover;
    background-position: center right;
  }
  .title {
    width: 100%;
    height: auto;
  }
  .title > .container {
    padding: 50px 30px 0 30px;
  }
  .title_body {
    text-align: center;
  }
  .title_assam {
    font-size: 1.3em;
  }
  .title_date {
    font-size: 1.1em;
  }
  .title_city {
    font-size: 1em;
  }
  .info_1 {
    width: 90%;
    padding: 40px 0;
  }
  .text_1 {
    font-size: 1.1em;
  }
  .text_2 {
    font-size: 1.3em;
  }
  .info_2 {
    padding: 40px 0;
  }
  .text_3 {
    font-size: 1.3em;
  }
  .text_4 {
    font-size: 1.1em;
  }
  .text_5 {
    font-size: 1.3em;
  }
  .text_6 {
    font-size: 1.3em;
  }
  .footer > .container {
    width: 90%;
  }
  .org > .container {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    position: relative;
    display: block;
    justify-content: center;
    flex-direction: column;
  }
  .heading {
    font-size: 1.8em;
    padding: 0 0 20px 0;
  }
  .column_1 {
    width: 90%;
    padding: 30px 20px 0 30px;
  }
  .column_2 {
    width: 90%;
    padding: 30px 20px 0 30px;
  }
  .name {
    padding: 5px 0;
  }
  .column_date {
    font-size: 0.8em;
    width: 30%;
  }
  .column_time {
    font-size: 0.8em;
    width: 10%;
  }
  .column_info {
    font-size: 0.8em;
    width: 60%;
  }
  td {
    padding: 8px;
  }
  th {
    padding: 8px;
  }
  .cont > .container {
    width: 80%;
  }
  .contact {
    font-weight: 300;
    font-size: 1.2em;
    padding: 10px 0 10px 0;
  }
}
@media (max-width: 376px) {
  .title {
    height: auto;
  }
  .column_1 {
    width: 90%;
    padding: 30px 0 0 15px;
  }
  .column_2 {
    width: 90%;
    padding: 30px 0 0 15px;
  }
}
@media (max-width: 321px) {
  .title {
    height: auto;
  }
  .text_1 {
    font-size: 0.8em;
  }
  .text_2 {
    font-size: 1em;
  }
  .text_3 {
    font-size: 1em;
  }
  .text_4 {
    font-size: 0.8em;
  }
  .text_5 {
    font-size: 1em;
  }
  .text_6 {
    font-size: 1em;
  }
  .column_1 {
    padding: 30px 0 0 10px;
  }
  .column_2 {
    padding: 30px 0 0 10px;
  }
  .heading {
    font-size: 1.6em;
  }
  .contact {
    font-size: 1em;
  }
}
